<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="stylesheet" href="static/css/auth.css" />
  </head>

  <body>
    <h1>Login Page</h1>
    <h2 id="login-error"></h2>
    <form>
      <label>Username:</label>
      <input type="text" name="username" id="username" /><br />
      <label>Password:</label>
      <input type="password" name="password" id="password" /><br />
      <button type="button" id="submit">Login</button>
    </form>

    <script type="module" src="static/js/auth.js"></script>
  </body>
</html>
