<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="stylesheet" href="static/css/quiz.css" />
  </head>

  <body>
    <h1>Quiz</h1>
    <h2 id="language"></h2>
    <div id="header">
      <h2>
        Question <span id="current-question"></span> /
        <span id="max-questions"></span>
      </h2>
      <h2>Total marks: <span id="total-marks"></span></h2>
    </div>
    <h2 id="quiz-question"></h2>
    <p>Please input your answer</p>

    <form>
      <div id="quiz-choices"></div>
      <div>
        <p id="question-result"></p>
        <p id="question-mark"></p>
        <p>Attempt <span id="question-attempts"></span> / 3</p>
        <img id="output-image" />
        <button id="check-button">Check</button>
      </div>
      <div>
        <button id="back-button">Back</button>
        <button id="next-button">Next</button>
      </div>
    </form>
    <a class="home-link" href="/">
      <button>Return home</button>
    </a>
    <button id="logout" onclick="logoutUser()">Logout</button>

    <p>Question Bank Status:</p>
    <p>Python: <span id="python-bank-status"></span></p>
    <p>C: <span id="c-bank-status"></span></p>
    <script type="module" src="static/js/quiz/index.js"></script>
    <script src="static/js/auth.js"></script>
  </body>
</html>
